<!DOCTYPE html>
<html>
<head>
  <title>Departures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://d3js.org/d3.v4.js' %>
  <%= javascript_include_tag 'https://d3js.org/d3-axis.v1.min.js' %>
  <%= javascript_include_tag 'https://d3js.org/d3-chord.v1.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
